.card-group-custom {
  width: 90%;
  max-width: 90%;
  min-width: 40%;
  margin: 0px auto;
  padding: 1%;
  min-height: 80%;
  max-height: 80%;
  overflow: auto;
  flex-flow: nowrap;
}

.card-custom {
  max-width: 25%;
  max-height: 650px;
  min-width: 25%;
}

.card-header-custom {
  max-height: 155px;
  min-height: 155px;
  box-sizing: content-box;
  text-align: center;
  background-color: white;
  color: white;
}

.input-group-text-custom {
  max-width: 35%;
  min-width: 35%;
  white-space: inherit !important;
  text-align: justify !important;
}

.hide-text {
  color: rgba(0, 0, 0, 0);
}

.btn-accept-custom {
  font-size: 11px;
}

.list-group-item-custom {
  max-height: 50px;
  min-height: 50px;
}

.img-title-card {
  width: auto;
  min-width: 50%;
  max-height: 100px;
}

.td-img-title {
  height: 83px;
  max-height: 83px;
}

.img-title {
  height: auto;
  width: auto;
  max-height: 81px;
  max-width: 100px;
  object-fit: contain;
}

.td-header-custom {
  height: 50px;
  max-height: 50px;
}

.custom-lonely {
  height: 150px;
  max-height: 150px;
}
.card-header-template {
  height: 50px;
  max-height: 50px;
  min-height: 50px;
}